---
/**
 * Displays a user's information on the user page.
 */

interface Props {
  username: string;
  components: number;
  followers: number;
}
---

<section class="container">
  <div class="flex flex-col space-y-3 justify-center items-center">
    <div>
      <img class="w-44" src="https://ximg.es/128" />
    </div>
    <div>
      <h2 class="text-xl font-medium font-title line-clamp-1 px-1/2">
        {}
      </h2>
    </div>
    <div class="flex space content-between gap-4">
      <h3>
        <span class="text-lg font-bold text-teal-400">10</span> Components
      </h3><h3>
        <span class="text-lg font-bold text-teal-400">232</span> Followers
      </h3>
    </div>
  </div>
</section>
