---
/**
 * displays the name and description of the components in the components page.
 * It also shows the user who created it, allowing you to follow or unfollow them via a button.
 */

interface Props {
  name: string;
  description: string;
}

const { name, description } = Astro.props;
---

<section class="container">
  <p
    class="text-center font-title md:text-left lg:w-2/5 text-3xl text-cyan-400 font-medium mb-2"
  >
    {name}
  </p>
  <p class="md:w-4/5 lg:w-2/5 font-light mb-5">
    {description}
  </p>
</section>
