---
/**
 * Displays the title and description of a category.
 */

interface Props {
  name: string;
  description: string;
}

const { name, description } = Astro.props;
---

<section class="container mb-20">
  <div class="flex flex-col items-center">
    <p class="text-3xl text-teal-400 font-bold mb-2">{name}</p>
    <p class="md:w-4/6 text-center">
      {description}
    </p>
  </div>
</section>
