---

---

<section class="container mb-20">
    <div class="flex flex-col items-center">
    <p class="text-3xl text-teal-400 font-bold mb-2">Category name</p>
    <p class="w-4/6 text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nemo
      doloremque aliquid sed enim est fugit facilis sint adipisci.
      Dolore, quodexcepturi. Adipisci magnam laboriosam excepturi, velit mollitia ullam
      iusto?
    </p>
  </div>
</section>
