---
/**
 * This component display a list of categories in a grid, fetches the data from the menu
 */

// Category list fetch via API (The Astro call is for get the origin if is changed in production)

const categories = await fetch(Astro.url.origin + "/api/menu").then((res) =>
  res.json()
);
---

<section class="container mt-14">
  <div class="grid grid-cols-2 gap-3">
    {
      categories.map((category) => (
        <a
          href={`/categories/${category.id}`}
          class="hover:shadow-inner hover:bg-slate-600 flex justify-between items-center py-5 px-4 transition-all border rounded"
        >
          <div class="flex flex-col">
            <span class="text-lg text-teal-400">{category.name}</span>
            <span class="font-light text-sm line-clamp-1">
              {category.description}
            </span>
          </div>
          <span class="font-extralight mr-5 text-nowrap">
            {category.totalComponents}+ Components
          </span>
        </a>
      ))
    }
  </div>
</section>
