---
import ComponentCardOptimized from "../partials/cards/ComponentCardOptimized.astro";
---

<section class="container">
  <div class="grid grid-cols-3 gap-10">
    <ComponentCardOptimized />
    <ComponentCardOptimized />
    <ComponentCardOptimized />
    <ComponentCardOptimized />
    <ComponentCardOptimized />
    <ComponentCardOptimized />
    <ComponentCardOptimized />
    <ComponentCardOptimized />
    <ComponentCardOptimized />
    <ComponentCardOptimized />
    <ComponentCardOptimized />
    <ComponentCardOptimized />
    <ComponentCardOptimized />
  </div>
</section>
