---
/**
 * This component display a list of categories in a grid, fetches the data from the menu
 */

// Category list fetch via API (The Astro call is for get the origin if is changed in production)
const categories = await fetch(Astro.url.origin + "/api/menu").then((res) => {
  // If there is a problem in the server return a special response for display a warning in the menu
  if (res.status === 500) {
    return [{ err: true }];
  }
  // Else return the menu Data
  return res.json();
});
---

<section class="container mt-14">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    {
      categories.map((category) => (
        <Fragment>
          {category.err ? (
            <span class="text-2xl w-full text-center col-span-2 text-rose-400">
              Cannot display categories, seems to be a server error.
            </span>
          ) : (
            <a
              href={`/categories/${category.id}`}
              class="hover:shadow-inner hover:bg-slate-600 flex justify-between items-center py-5 px-4 transition-all border rounded"
            >
              <div class="flex flex-col">
                <span class="text-lg text-teal-400">{category.name}</span>
                <span class="font-light text-sm line-clamp-1">
                  {category.description}
                </span>
              </div>
              <span class="font-extralight mr-5 text-nowrap">
                {category.numComponents}+ Components
              </span>
            </a>
          )}
        </Fragment>
      ))
    }
  </div>
</section>
