---
/**
 * This is the form to upload components, if you are not logged in you cannot get to this page.
 */

// Fetch categories data
const categories = await fetch(Astro.url.origin + "/api/menu").then((res) =>
  res.json()
);
---

<section class="container">
  <form id="uploadForm" class="w-full space-y-20">
    <div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full xl:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-200 font-bold mb-2"
            for="componentName"
          >
            Component name
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="componentName"
            type="text"
            placeholder="My component"
          />
          <p class="text-red-600 italic">Please fill out this field.</p>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full xl:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-200 font-bold mb-2"
            for="componentDescription"
          >
            Description
          </label>
          <textarea
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="componentDescription"
            rows="4"
            placeholder="This is my nice component"></textarea>
          <p class="text-red-600 italic">Please fill out this field.</p>
        </div>
      </div>

      <div class="w-full xl:w-1/3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-200 font-bold mb-2"
          for="componentCategory"
        >
          Component category
        </label>
        <div class="relative">
          <select
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="componentCategory"
          >
            {
              categories.map((category) => (
                <option value={category.id}>{category.name}</option>
              ))
            }
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              ><path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              ></path></svg
            >
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full xl:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-200 font-bold mb-2"
            for="TWCode"
          >
            Tailwind Code
          </label>
          <textarea
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="TWCode"
            rows="4"
            placeholder={`<h1 class="text-teal-300 w-full h-96 text-3xl sm:bg-cyan-500 md:bg-red-500" x-on:click="">Hello world</h1>`}
          ></textarea>
          <p class="text-red-600 italic">Please fill out this field.</p>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full xl:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-200 font-bold mb-2"
            for="JSCode"
          >
            JavaScript Code
          </label>
          <textarea
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="JSCode"
            rows="4"
            placeholder={`function showAlert() { window.alert('Hello world');}`}
          ></textarea>
          <p class="text-red-600 italic">Please fill out this field.</p>
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full xl:w-1/2 px-3 mb-6 md:mb-0 space-y-6">
          <label
            class="flex items-center gap-4 uppercase tracking-wide text-gray-200 font-bold mb-2 text-sm"
            for="cdn"
          >
            <input type="checkbox" id="cdn" class="size-6 accent-teal-400" />
            Works on Tailwind CDN?
          </label>
          <label
            class="flex items-center gap-4 uppercase tracking-wide text-gray-200 font-bold mb-2 text-sm"
            for="alpine"
          >
            <input type="checkbox" id="alpine" class="size-6 accent-teal-400" />
            Need's Alpine for functions?
          </label>
        </div>
      </div>
    </div>
    <div
      class="gap-6 w-full flex flex-col xl:flex-row justify-center xl:justify-start"
    >
      <label for="submit" class="sr-only"> submit component </label>
      <button
        id="submit"
        type="button"
        class="px-8 py-2 bg-slate-600 rounded border hover:bg-cyan-600 transition-colors w-auto"
        >Submit Component</button
      >
      <label for="clear" class="sr-only"> Clear forms </label>
      <input
        id="clear"
        type="reset"
        value="Clear"
        class="cursor-pointer px-8 py-2 bg-rose-600 rounded border hover:bg-rose-400 transition-colors w-auto"
      />
    </div>
  </form>

  <dialog
    id="errorModal"
    class="p-4 rounded-lg bg-slate-600 text-white backdrop:bg-gray-800 backdrop:bg-opacity-30 backdrop:backdrop-blur"
  >
    <p class="text-rose-500 mb-4 text-xl font-bold text-center mx-auto">
      There are some errors in the form
    </p>
    <ul id="errorList" class="space-y-2 mx-8 list-disc"></ul>
    <button
      id="closeModal"
      class="border w-1/3 mt-4 py-2 rounded mx-auto bg-slate-700 hover:bg-slate-600 block"
      >Close</button
    >
  </dialog>
</section>

<script>
  import {
    validateComponentClient,
    getErrorsComponent,
  } from "@utils/validateComponent";

  // Get modals
  const modal: HTMLDialogElement = document.querySelector("#errorModal");

  // Event listener to close the modal
  document.querySelector("#closeModal").addEventListener("click", () => {
    modal.close();
  });
  // Accessing form fields
  const form = document.querySelector("#uploadForm");

  // Event listeners for input fields to show/hide error messages
  const inputFields = form.querySelectorAll<
    HTMLInputElement | HTMLTextAreaElement
  >("input[type='text'], textarea");
  inputFields.forEach((inputField) => {
    inputField.addEventListener("input", () => {
      const errorParagraph = inputField.nextElementSibling;
      if (!inputField.value.trim()) {
        errorParagraph.classList.remove("hidden");
        errorParagraph.previousElementSibling.classList.add("border-red-500");
      } else {
        errorParagraph.classList.add("hidden");
        errorParagraph.previousElementSibling.classList.remove(
          "border-red-500"
        );
      }
    });
  });

  document.querySelector("#submit").addEventListener("click", () => {
    // Obtain fields values
    const componentName =
      form.querySelector<HTMLInputElement>("#componentName").value;

    /* Fix Data types
        Category was obtained like a string so we need to parse to number */
    const componentDescription = form.querySelector<HTMLInputElement>(
      "#componentDescription"
    ).value;

    const componentCategory = Number(
      form.querySelector<HTMLSelectElement>("#componentCategory").value
    );
    const tailwind = form.querySelector<HTMLTextAreaElement>("#TWCode").value;
    const javascript = form.querySelector<HTMLTextAreaElement>("#JSCode").value;

    const needsCDN = (
      form.querySelector<HTMLInputElement>("#cdn") as HTMLInputElement
    ).checked;
    const needsAlpine = (
      form.querySelector<HTMLInputElement>("#alpine") as HTMLInputElement
    ).checked;

    // request body buiilded to be Stringify
    const request = {
      categoryId: componentCategory,
      name: componentName,
      description: componentDescription,
      tailwind: tailwind,
      javascript: javascript,
      needsCDN: needsCDN,
      needsAlpine: needsAlpine,
    };

    // Run validations via validations util
    if (validateComponentClient(request)) {
      // Send posting data to the server
      fetch(window.location.origin + "/api/components", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(request),
      })
        .then((res) => res.json())
        .then((data) => {
          if (!data.inserted) {
            throw Error("Server Error");
          }
          window.location.href =
            window.location.origin + "/components/" + data.inserted;
        })
        .catch((err) => {
          console.log(err);
        });
    } else {
      // Get errors
      const errors = getErrorsComponent(request);

      // Get error list
      const errorList = document.querySelector("#errorList");

      // Remove previus errors
      errorList.innerHTML = "";

      // add the errors to a modal
      errors.forEach((error) => {
        errorList.innerHTML += `<li>${error}</li>`;
      });

      // Show the modal
      modal.showModal();
    }
  });
</script>
