---
/**
 * This is the unauthorized user page that will be displayed if the user tries to access a restricted part of the application without first logging in.
 */

import LayoutNoFooter from "../layouts/LayoutNoFooter.astro";
---

<LayoutNoFooter title="Page not found">
  <section class="container w-screen h-screen flex justify-center items-center">
    <strong class="font-title text-7xl text-teal-400 py-3 px-3 border-r-2"
      >401</strong
    >
    <p class="text-center py-3 px-3 text-xl">
      <span class="font-bold text-rose-500">Error:</span>
      User Unauthorized!
    </p>
  </section>
</LayoutNoFooter>

<style>
  body {
    overflow-y: hidden;
  }
</style>
