---
import LayoutNoFooter from "../layouts/LayoutNoFooter.astro";
---

<LayoutNoFooter title="Page not found">
  <section class="container w-screen h-screen flex justify-center items-center">
    <strong class="font-title text-7xl text-teal-400 py-3 px-3 border-r-2">404</strong>
    <p class="text-center py-3 px-3 text-xl"><span class="font-bold text-rose-500">Error:</span>
        Page not found
    </p>
  </section>
</LayoutNoFooter>
