---
/**
 * This is the resource not found page, it will appear if the url is wrong.
 */
import Layout from "../layouts/Layout.astro";

export const prerender = true;

/**
 * If a user goes to a incorrect route for example /component/noExist
 * Even if Astro already redirects to the 404 page, this way we ensure that the routes are followed and the links to the resources are not broken.
 */

if (Astro.url.pathname != "/404") {
  return Astro.redirect("/404");
}

/* Checks if the server is under maintenance and assigns the status
 * for display in the page.
 */

let isOnManteniance;

if (import.meta.env.SERVER_MAINTENANCE == "true") {
  isOnManteniance = true;
} else {
  isOnManteniance = false;
}
---

<Layout title="Page not found" footer={true}>
  <section class="container w-screen h-screen flex justify-center items-center">
    {
      isOnManteniance ? (
        <p class="text-center py-3 px-3 text-xl">
          <span class="font-bold text-teal-400">
            The server is currently under maintenance
          </span>
          <br />
          Sorry for the inconvenience.
        </p>
      ) : (
        <Fragment>
          <strong class="font-title text-7xl text-teal-400 py-3 px-3 border-r-2">
            404
          </strong>
          <p class="text-center py-3 px-3 text-xl">
            <span class="font-bold text-rose-500">Error:</span>
            Page not found
          </p>
        </Fragment>
      )
    }
  </section>
</Layout>

<style>
  body {
    overflow-y: hidden;
  }
</style>
