---
/**
 * It is a grid which groups several components and displays them.
 *
 * Receives a JSON components array
 */

interface Props {
  components;
}

const { components } = Astro.props;

import ComponentCard from "../cards/ComponentCard.astro";
---

<section class="container">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
    {components.map((component) => <ComponentCard />)}
  </div>
</section>
