---

---

<section class="bg-[url('backgrounds/hero.jpg')] bg-no-repeat bg-center">
  <div class="container">
    <div class="flex justify-between items-center space-x-16 p-8 py-14">
      <div class="w-[500px] shrink-0">
        <img class="w-full" src="https://ximg.es/600x400" alt="" />
      </div>
      <div class="space-y-4">
        <h1
          class="text-5xl font-bold text-center bg-clip-text text-transparent from-cyan-50 bg-gradient-to-bl to-teal-500 from-grey-50"
        >
          Tailwind Nexus
        </h1>
        <h2 class="font-bold text-2xl text-center">
          Uniting Developers, Empowering Design
        </h2>
        <p class="font-light text-lg">
          Tailwind Nexus is the nexus of collaborative creativity, a dynamic
          platform where developers converge to share, discover, and refine
          <a
            href="/category/all"
            target="_blank"
            class="custom-link font-semibold text-teal-400"
            >Tailwind CSS components.</a
          >
        </p>
        <p class="font-light text-lg">
          Dive into a world of boundless possibilities, where innovation knows
          no bounds and community spirit thrives. Whether you're a seasoned
          developer seeking inspiration or a newcomer eager to contribute,
          Tailwind Nexus welcomes you with open arms.
        </p>
        <p class="font-light text-lg">
          Together, let's elevate web design to new heights and shape the future
          of <a
            href="https://tailwindcss.com/"
            target="_blank"
            class="custom-link font-semibold text-teal-400">Tailwind CSS</a
          > development.
        </p>
        <ul class="font-light space-y-1 list-image-[url('icons/checkBox.svg')]">
          <li>
            <b class="font-semibold text-cyan-500">Centralized Repository: </b>
            <span
              >Access Tailwind CSS components contributed by developers
              globally.</span
            >
          </li>
          <li>
            <b class="font-semibold text-cyan-500">Community Collaboration: </b>
            <span
              >Engage with a vibrant community for feedback and contributions.</span
            >
          </li>
          <li>
            <b class="font-semibold text-cyan-500"
              >Tagging and Categorization:
            </b>
            <span>Organize components for intuitive navigation.</span>
          </li>
          <li>
            <b class="font-semibold text-cyan-500">Feedback Mechanism: </b>
            <span>Refine components through constructive feedback loops.</span>
          </li>
        </ul>
        <div class="w-full text-center"><a class="" href="/signin">Start Today!</a></div>
        
    </div>
    </div>
  </div>
</section>
