---

---

<section class="container">
  <div class="grid py-20 grid-cols-1 md:grid-cols-2 gap-10 lg:grid-cols-3 place-items-center">
    <div
      class="flex flex-col justify-start items-center gap-2 p-4 text-center bg-slate-600 h-96 w-72 rounded-xl"
    >
      <img
        class="w-5/6 h-1/2 object-contain"
        src="http://ximg.es/200x200"
        alt=""
      />
      <h3 class="text-xl font-semibold w-64">
        asfasdfasfsadfsafa fasfdsaf fasdf
      </h3>
      <p class="w-64">
        asdsadasdasdsadsadsad asdasdsadsadasdasdasdasdas asdsadasdasdas
      </p>
    </div>
    <div
      class="flex flex-col justify-start items-center gap-2 p-4 text-center bg-slate-600 h-96 w-72 rounded-xl"
    >
      <img
        class="w-5/6 h-1/2 object-contain"
        src="http://ximg.es/200x200"
        alt=""
      />
      <h3 class="text-xl font-semibold w-64">
        asfasdfasfsadfsafa fasfdsaf fasdf
      </h3>
      <p class="w-64">
        asdsadasdasdsadsadsad asdasdsadsadasdasdasdasdas asdsadasdasdas
      </p>
    </div>
    <div
      class="flex flex-col justify-start items-center gap-2 p-4 text-center bg-slate-600 h-96 w-72 rounded-xl"
    >
      <img
        class="w-5/6 h-1/2 object-contain"
        src="http://ximg.es/200x200"
        alt=""
      />
      <h3 class="text-xl font-semibold w-64">
        asfasdfasfsadfsafa fasfdsaf fasdf
      </h3>
      <p class="w-64">
        asdsadasdasdsadsadsad asdasdsadsadasdasdasdasdas asdsadasdasdas
      </p>
    </div>
  </div>
</section>
