---

---

<section class="container">
  <div
    class="grid py-20 grid-cols-1 md:grid-cols-2 gap-10 lg:grid-cols-3 place-items-center"
  >
    <div
      class="flex flex-col justify-start items-center gap-2 p-4 text-center bg-slate-600 bg-opacity-85 h-96 w-72 rounded-xl"
    >
      <img
        class="w-5/6 h-1/2 rounded"
        src="img/cards/code.jpg"
        alt="Source code"
      />
      <h3 class="text-xl font-semibold w-64 mt-2 text-teal-200">Component discovery</h3>
      <p class="w-64">
        Be inspired by the Tailwind components that other users have developed.
      </p>
    </div>
    <div
      class="flex flex-col justify-start items-center gap-2 p-4 text-center bg-slate-600 bg-opacity-85 h-96 w-72 rounded-xl"
    >
      <img
        class="w-5/6 h-1/2  rounded"
        src="img/cards/softwareDeveloper.jpg"
        alt="Desarrollador de Software"
      />
      <h3 class="text-xl font-semibold w-64 mt-2 text-teal-200">Add them to your project</h3>
      <p class="w-64">
        Either by using the Tailwind CDN or by installing tailwind instead.
      </p>
      <p>
        <a
          href="https://tailwindcss.com/docs/installation/framework-guides"
          target="_blank"
          class="custom-link font-bold">Compatible Frameworks</a
        >
      </p>
    </div>
    <div
      class="flex flex-col justify-start items-center gap-2 p-4 text-center bg-slate-600 bg-opacity-85 h-96 w-72 rounded-xl"
    >
      <img
        class="w-5/6 h-1/2 rounded"
        src="img/cards/colaborative.jpg"
        alt=""
      />
      <h3 class="text-xl font-semibold w-64 mt-2 text-teal-200">Contribute to the nexus</h3>
      <p class="w-64">
        Upload your own components to Tailwind Nexus and get ratings, you will
        improve as a developer.
      </p>
    </div>
  </div>
</section>
