---
/**
 * Top section of the hero, it is decorative and serves as the hero of the page, it is static.
 */
---

<section class="bg-[url('/img/backgrounds/hero.jpg')] bg-no-repeat bg-center">
  <div class="container">
    <div
      class="flex flex-col xl:flex-row justify-between items-center space-y-14 xl:space-x-20 p-8 py-14"
    >
      <div class="w-full">
        <img
          class="w-full shadow-md shadow-teal-700"
          src="/img/hero/heroimg.jpg"
          width="800"
          height="600"
          loading="eager"
          alt="Black Shirt Man Sits Behind Desk With Computers Decorative photo"
        />
      </div>
      <div class="space-y-4">
        <h1
          class="text-3xl md:text-5xl font-bold font-title text-center bg-clip-text text-transparent from-cyan-50 bg-gradient-to-bl to-teal-500 from-grey-50"
        >
          Tailwind Nexus
        </h1>
        <h2 class="font-bold font-title text-xl md:text-2xl text-center">
          Uniting Developers, Empowering Design
        </h2>
        <div></div>
        <p class="font-light text-center md:text-left md:text-lg">
          Tailwind Nexus is the nexus of collaborative creativity, a dynamic
          platform where developers converge to share, discover, and refine
          <a
            href="/category/all"
            target="_blank"
            class="custom-link font-semibold text-teal-400"
            >Tailwind CSS components.</a
          >
        </p>
        <p class="font-light md:text-lg text-center md:text-left">
          Dive into a world of boundless possibilities, where innovation knows
          no bounds and community spirit thrives. Whether you're a seasoned
          developer seeking inspiration or a newcomer eager to contribute,
          Tailwind Nexus welcomes you with open arms.
        </p>
        <p class="font-light md:text-lg text-center md:text-left">
          Together, let's elevate web design to new heights and shape the future
          of <a
            href="https://tailwindcss.com/"
            target="_blank"
            class="custom-link font-semibold text-teal-400">Tailwind CSS</a
          > development.
        </p>
        <ul
          class="font-light space-y-1 text-sm md:text-lg list-image-[url('/img/icons/checkBox.svg')]"
        >
          <li>
            <strong class="font-semibold text-cyan-500"
              >Centralized Repository:
            </strong>
            <span
              >Access Tailwind CSS components contributed by developers
              globally.</span
            >
          </li>
          <li>
            <strong class="font-semibold text-cyan-500"
              >Community Collaboration:
            </strong>
            <span
              >Engage with a vibrant community for feedback and contributions.</span
            >
          </li>
          <li>
            <strong class="font-semibold text-cyan-500"
              >Tagging and Categorization:
            </strong>
            <span>Organize components for intuitive navigation.</span>
          </li>
          <li>
            <strong class="font-semibold text-cyan-500"
              >Feedback Mechanism:
            </strong>
            <span>Refine components through constructive feedback loops.</span>
          </li>
        </ul>
        <div class="w-full text-center !mt-10">
          <a
            class="px-20 py-3 bg-slate-700 hover:bg-slate-500 text-xl font-semibold font-title shadow shadow-teal-600 text-teal-400 transition-colors"
            href="/signin">Start Today!</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
