<section
  class="container -mt-16 h-screen w-screen flex justify-center items-center"
>
  <div class="w-96 px-4 py-8 rounded bg-slate-700 shadow relative">
    <img
      class="absolute -mt-24 w-36 right-1/2 translate-x-1/2 pointer-events-none shadow-slate-50"
      src="/img/logos/TailwindNexus.svg"
    />

    <div class="p-3 pt-24">
      <h2 class="text-center text-2xl font-semibold mb-4">
        Join Tailwind Nexus, today!
      </h2>
      <div class="flex pt-4 font-bold mb-8">
        <button
          id="login-tab"
          class="custom-button-active hover:border-teal-200 hover:text-teal-300 text-xl mx-auto border-b-2 px-6"
          >Login</button
        >
        <button
          id="signin-tab"
          class="text-xl hover:border-teal-200 hover:text-teal-300 mx-auto border-b-2 px-6"
          >Signin</button
        >
      </div>
      <div
        class="space-y-3 transition-opacity duration-300 ease-in-out"
        id="buttons"
      >
        <button
          id="git-login"
          class="bg-slate-600 p-2 py-1 rounded border hover:bg-slate-500 w-full flex px-16 items-center gap-2 font-medium font-title transition-colors"
          ><img
            class="w-8 bg-gray-100 rounded-full p-0.5"
            src="/img/icons/github-mark.svg"
            alt="Github logo"
          /> Login with GitHub</button
        >
        <button
          id="google-login"
          class="bg-slate-600 p-2 py-1 rounded border hover:bg-slate-500 w-full flex px-16 items-center gap-2 font-medium font-title transition-colors"
          ><img
            class="w-8 p-0.5 bg-gray-100 rounded-full"
            src="/img/icons/google.svg"
            alt="Google logo"
          /> Login with Google</button
        >
        <button
          id="facebook-login"
          class="bg-slate-600 p-2 py-1 rounded border hover:bg-slate-500 w-full flex px-16 items-center gap-2 font-medium font-title transition-colors"
          ><img
            class="w-8 bg-gray-100 rounded-full p-0.5"
            src="/img/icons/meta.svg"
            alt="Meta logo"
          /> Login with Meta</button
        >
      </div>
    </div>
  </div>
</section>

<script>
  // Import singIn function from authjs library
  const { signIn } = await import("auth-astro/client");

  // Event listener for github button
  document.querySelector("#git-login").addEventListener("click", async () => {
    // Use AuthJS library to login
    await signIn("github", {
      redirect: false,
      callbackUrl: `${window.location.origin}/myaccount`,
    });
  });
  // Event listener for google button
  document
    .querySelector("#google-login")
    .addEventListener("click", async () => {
      await signIn("google", {
        // Use AuthJS library to login
        redirect: false,
        callbackUrl: `${window.location.origin}/myaccount`,
      });
    });

  // Event listener for github button
  document
    .querySelector("#facebook-login")
    .addEventListener("click", async () => {
      // Use AuthJS library to login
      await signIn("facebook", {
        redirect: false,
        callbackUrl: `${window.location.origin}/myaccount`,
      });
    });

  // buttons function animation for usability to the user since page is only login

  // Recover DOM Elements
  const buttons = document.querySelector("#buttons");
  const loginTab = document.querySelector("#login-tab");
  const signinTab = document.querySelector("#signin-tab");

  // Timeout to make the fade away animation
  const fadeAnimation = () => {
    // Set opacity to 0
    buttons.classList.add("opacity-0");
    setTimeout(() => {
      // Set opacity normal again
      buttons.classList.remove("opacity-0");
    }, 300);
  };

  // Click listener to activate the login tab
  loginTab.addEventListener("click", () => {
    // Do the animation
    fadeAnimation();

    // Activate this tab and deactivate the other if it was active
    loginTab.classList.add("custom-button-active");
    signinTab.classList.remove("custom-button-active");
  });

  // Click listener to activate the singin tab
  signinTab.addEventListener("click", () => {
    fadeAnimation();

    // Activate this tab and deactivate the other if it was active
    loginTab.classList.remove("custom-button-active");
    signinTab.classList.add("custom-button-active");
  });
</script>
